<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" th:value="${user.username}" />
        <span th:errors="*{user.username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" type="email" th:field="*{user.email}" />
        <span th:errors="*{user.email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" type="password" th:field="*{user.password}" />
        <span th:errors="*{user.password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify Password</label>
        <input class="form-control" id="verifyPassword" type="password" name="verifyPassword" th:field="*{user.verifyPassword}" />
        <span th:errors="*{user.verifyPassword}" class="error"></span>
    </div>
    <div th:if="${error}" th:text="${'Error: ' + error}"></div>

    <input type="submit" value="Add User" />
</form>

</body>
</html>